.App {
  height: 230vh;
  width: 100vw;
  text-align: center;
  background-image: url('../../../public/blob-scene-haikei.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-family: 'Darumadrop One', cursive;
  color: white;
}


h1 {
  font-size: 3rem;
  color: white;
}
